{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=nordisvirtualsummit;AccountKey=H594ZwyAYmOGKxknXW759sCas6/Cpf30Vl33xTU9lxPEhmCpgCiGCtGyPtub0f+25gL0KDvz5XE6E085kVQ6/A==;EndpointSuffix=core.windows.net",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "EmailSender": "fakeidaccount@otmail.com",
        "SendGridApiKey": "SG.gkILf-jmTpW0pPvulrsAQg.Y41a5oYCakQAW22T5j23mHBycq94xzVOVF483KBl4asdf"
    }
}
